html {
	font-family: -apple-system, BlinkMacSystemFont, "Inter", Roboto, "Helvetica Neue";
	font-weight: normal;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	color: #222;
}

$dark: #222;
$white: #fff;
$orange: #ff8100;
$grey: #777;
$red: #f94949;
$lightGrey : #b7bac1;

$layout-xs: 640px;
$layout-sm: 959px;
$layout-m: 960px;


$border: 1px solid #ccc;
$darkBorder: 2px solid #222;

$small : 13px;


* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	background: #fbfbfd;
	box-sizing: border-box;

}

body.bgPeach {
	background: #FEEDDC;

	.nav {
		background-color: #00000000;
	}

	.menu a {
		color: $dark;
	}

	h1 {
		font-size: 48px;
	}

	.card {
		border-radius: 26px;
		border: 3px solid $white;
	}

	.card[active] {
		border: 3px solid $dark;
	}

	hr {
		color: #F4E3D4;
    	background-color: #F4E3D4;
		margin: 20px 0px;
	}
}

.toggleType {
	background-color: #F4E3D4;
	border-radius: 14px;
	padding: 6px;
	width: fit-content !important;
	margin: 0 auto;

	.btn {
		background-color: #0000;
		border: none;
		color: $dark;
		cursor: not-allowed;

		i {
			font-size: 20px;
		}
	}

	.btn[active]:hover {
		background-color: $white;
	}

	.btn[active] {
		background-color: $white;
		border: none;
		color: $dark;
		cursor: default;
		
	}

	.corporative:hover .custom-alert-wrapper {
		display: block;
	}

	.custom-alert {
		bottom: 100%;
	}
}

.togglePeriod {

	input[type=checkbox]{
		height: 0;
		width: 0;
		visibility: hidden;
	}
	  
	label {
		cursor: pointer;
		width: 70px;
		height: 40px;
		background: #F4E3D4;
		display: block;
		border-radius: 100px;
		position: relative;
	}

	p {
		color: #BCB0A8;
	}

	p.choosen {
		color: $dark;
	}
	
	  
	label:after {
		content: '';
		position: absolute;
		top: 5px;
		left: 5px;
		width: 30px;
		height: 30px;
		background: #fff;
		border-radius: 90px;
		transition: 0.3s;
	}
	  
	input:checked + label {
		// background: $orange;
	}


	input:checked + label:after {
		left: calc(100% - 5px);
		transform: translateX(-100%);
	}

	label:active:after {
		width: 70px;
	}


	
}

.timer.custom-alert {
	bottom: 150%;
	padding: 22px 24px 14px;

	.body::after {
		bottom: -27px;
	}

	.icon-close {
		position: absolute;
		top: 5px;
		right: 8px;
		cursor: pointer;
		z-index: 1001;
	}

	.icon-close:hover {
		color: $orange;
	}
}






a.link {
	// color: $orange;
}

a.link:hover {
	color: $orange;
}

.link {
	color: $dark;
	cursor: pointer;
}

.link.line {
	border-bottom: 1px solid;
	line-height: 16px;
}

.link:hover {
	color: $orange;
}

.link:has(i) {
	border-bottom: none;
}

.delete {
	// color: $red;
}

small {
	font-size: 11px;
}

.small {
	font-size: 13px;
}

.hidden {
	display: none;
}

.center {
	justify-content: center;
	text-align: center;
}

.relative {
	position: relative;
}

.h100 {
	height: 100%;
}

.upp {
	text-transform: uppercase;
}

.bold {
	font-weight: 700;
}

.bolder {
	font-weight: 800;
}

.thin {
	font-weight: 100;
}

.light {
	font-weight: 200;
}

.f-100 {
	font-weight: 100;
}

.f-200 {
	font-weight: 200;
}

.f-300 {
	font-weight: 300;
}

.f-400 {
	font-weight: 400;
}

.f-500 {
	font-weight: 500;
}

.f-600 {
	font-weight: 600;
}

.f-700 {
	font-weight: 700;
}

.f-800 {
	font-weight: 800;
}

.f-900 {
	font-weight: 900;
}

.opt-5 {
	opacity: 0.5;
}

.hide-2-3 {
	width: 66%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
}

p {
	color: #555;
}

.text-grey {
	p {
		color: $lightGrey;
	}
}

.text-orange {
	color: $orange;
}
.text-grey {
	color: $lightGrey;
}
.text-dark {
	color: $dark;
}
.text-white {
	color: $white;
}
.text-error {
	color: $red;
}

hr {
    border: none;
    color: #e3e5e7;
    background-color: #e3e5e7;
    height: 1px;
}

input {
    height: 50px;
    border-radius: 12px;
    border: 1px solid #e3e5e7;
    margin: 6px 0px;
	padding: 0px 14px;
	font-size: 16px;
    letter-spacing: 1px;
}

input:focus {
	border: 1px solid $orange;
}
input:target {
	border: 1px solid $orange;
}
input[type=checkbox] {
	height: fit-content;
	margin: 0;
}

input::placeholder {
	font-size: 14px;
	letter-spacing: normal;
}

.input-icon {
	position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
}

.input {
	height: 50px;
    border-radius: 12px;
    border: 1px solid #e3e5e7;
    margin: 6px 0px;
	padding: 0px 14px;
	background-color: $white;
    display: flex;
    align-items: center;
}

textarea {
	border-radius: 12px;
    border: 1px solid #e3e5e7;
}

.btn {
    background-color: #e3e5e9;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.17648;
    font-weight: 600;
    letter-spacing: -0.022em;
    border-radius: 12px;
    color: $white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 55px;
	padding: 0px 24px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn[active] {
	background-color: $dark;
    color: $white;
    border: 1px solid $dark;
    cursor: pointer;

}

.btn[active]:hover {
	background-color: #000;
}

.img-cover {
	overflow: hidden;
}
.img-cover img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.img-contain img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.container {
	display: flow-root;
	box-sizing: content-box;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
}



.custom-alert {
	-webkit-box-shadow: 0px 3px 12px #262c381a;
    box-shadow: 0px 3px 12px #262c381a;
    border-radius: 12px;
    padding: 16px 24px;
    position: absolute;
    bottom: 10;
    right: 0;
	z-index: 100;
	background: #fff;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;

	.body {
		position: relative;
		
	}
	.body::after {
		content: '';
		width: 0;
		height: 0;
		border-left: 2px solid transparent;
		border-right: 10px solid transparent;
		border-top: 14px solid #fff;
		position: absolute;
		right: 20px;
		bottom: -30px;
	}

	p {
		color: $dark;
		font-size: 13px;
		font-weight: 600;
	}
}

:root {
	--form-control-color: rebeccapurple;
	--form-control-disabled: #959495;
  }
  
  *,
  *:before,
  *:after {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	// padding-bottom: 80px;
  }

  
.checkbox {


	.checkbox--disabled {
		color: var(--form-control-disabled);
		cursor: not-allowed;
	}

	input[type="checkbox"] {
		-webkit-appearance: none;
		appearance: none;
		background-color: var(--form-background);
		margin: 0;
		width: 18px;
		height: 18px;
		border: 0.15em solid $lightGrey;
		border-radius: 2px;
		display: grid;
		place-content: center;
		padding: 0;
	}

	input[type="checkbox"]::before {
	content: "";
		width: 16px;
		height: 16px;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		background-color: $orange;
		border-radius: 2px;
	}

	input[type="checkbox"]:checked::before {
		transform: scale(1);
	}

	input[type="checkbox"]:disabled {
		--checkbox-color: var(--checkbox-disabled);
		color: var(--checkbox-disabled);
		cursor: not-allowed;
	}

}
  


.login {
	padding: 60px 0px 20px;

	.toggleMenu {
		.toggleBtn {
			cursor: pointer;
			color: $lightGrey;
			font-weight: 300;
		}

		.toggleBtn[active] {
			color: $dark;
			font-weight: 800;
		}
	
		.toggleBtn:hover {
			color: $dark;
	
		}
	}
}

.accept-rules {

	.checkbox {
		position: relative;
		margin-right: 10px;

		input {
			cursor: pointer;
		}
	}

	i {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 16px;
	}

	p {
		font-size: 10px;
		color: $lightGrey;
		line-height: 12px;
		a {
			color: $orange;
		}
	}
}



.breadcrumb {
	a {
		color: $grey;
		font-size: 14px;
	}

	a:hover {
		color: #666;
	}

	a[active] {
		color: #555;
	}
}

.cards {
	// margin-right: -10px;
	// margin-left: -10px;

	.card-body {
		padding: 20px 20px 14px;
	}

	.card {
		overflow: hidden;
		position: relative;
		border-radius: 12px;
		background-color: #fff;

		.close {
			position: absolute;
			top: 10px;
			right: 20px;
			z-index: 11;
		}

		.text-overflow {
			// width: 80%;
		}

		.date {
			color: $grey;
		}

		.storagePeriod {
			color: $grey;
		}

		.days {
			color: $dark;
		}

		.btn.btn-default {
			height: 40px;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 8px;
			color: #555;
			font-weight: 400;
			cursor: pointer;
		}

		.btn.btn-dark {
			background-color: $dark;
			border: 1px solid $dark;
			color: $white;
			p {
				color: $white;
			}
		}

		.btn:hover {
			background-color: $dark;
			border: 1px solid $dark;
			color: $white;
		}

		.remove {
			width: 26px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: flex-end;
			cursor: pointer;
		}

		.remove:hover i {
			color: $red;
		}

		.icon-close {
			display: none;
		}

		.list {
			line-height: 28px;
		}

	}

	.card:hover {
		box-shadow: 0px 3px 20px #3e434e0f;
	}

	

	.galleryItem.show {
		position: fixed;
		top: 0px;
		left: 0;
		right: 0;
		z-index: 10;
		background-color: rgba(34, 34, 34, 0.87);
		width: 100%;
		margin: 0 auto;
		backdrop-filter: blur(3px);

		.card {
			height: auto;
			background-color: #0000;
			height: 100% !important;
			padding: 0px 10px;

		}

		img {
			object-fit: contain;
		}

		.icon-close {
			display: block;
			position: absolute;
			top: 10px;
			right: 20px;
			cursor: pointer;
		}
		.icon-close:hover {
			transform: scale(1.1);
		}
	}

	
}

.myAlboms {

	.cards {

		.card {
			box-shadow: 0px 3px 10px #3e434e0f;
			transition: all ease 0.3s;
		}

		.card:hover {
			box-shadow: 0px 3px 20px #3e434e0f;
		}
	}
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	// display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: nowrap;
}

.footer {
	width: 100%;
	// position: fixed;
	// bottom: 0;
	// height: 60px;
	padding: 12px 0px;
	background: #fbfbfd;
}

.create-albom {

	textarea {
		padding: 14px;
		width: 100%;
	}

	input {
		margin: 0px;
	}
}

.promotion {

	height: fit-content;
    border: 2px solid #222;
    border-radius: 12px;
    padding: 12px 20px;

	.title {
		line-height: 18px;
	}

	p {
		// margin-bottom: 5px;
	}
}

.lk {
	.card {
		padding: 16px 20px;
		border: 1px solid #e3e5e7;
	}

	.list {
		p {
			font-size: $small;
		}
	}
}

h2 {
	font-size: 20px;
}

.limit {
	.list {
		background-color: #fff;
		padding: 20px;
		line-height: 40px;
		position: absolute;
		top: 54px;
		left: 0;
		width: 100%;
		z-index: 100;
		border-radius: 12px;
		border: 1px solid #e3e5e7;
	}
}


//////////////////////////////////////////////////////////////////////////
/// 
@media screen and (max-width: $layout-m) {

	body {
		// padding-top: 80px;
		padding-bottom: 80px;
	}

	.hide-sm {
		display: none;
	}

	p {
		line-height: 19px;
	}

	.nav {
		width: 100%;
		background-color: #fff;
		height: 70px;
		color: #fff;
		position: fixed;
		bottom: 0;
		border-radius: 40px 40px 0px 0px;
		box-shadow: 0px 0px 10px #0202020a;
		padding: 0px 0px 10px;
		z-index: 99;

		i[active] {
			color: $dark !important;
		}

		.menu {
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			justify-content: space-around;
			align-items: center;

			a {
				i {
					color: $lightGrey;
					font-size: 20px;
				}

				.button {
					i {
						color: $white;
					}
				}
			}

			a[active] {
				color: $dark;
			}
			
		}
	}

	.pdd-xs-wrapper {
		margin-right: -4px;
		margin-left: -4px;
	}
	.pdd-xs {
		padding: 4px 4px;
	}
	.pdd-sm-wrapper {
		margin-right: -5px;
		margin-left: -5px;
	}
	.pdd-sm {
		padding: 5px 5px;
	}
	
	.pdd-md-wrapper {
		margin-right: -10px;
		margin-left: -10px;
	}

	.pdd-md {
		padding: 10px 10px;
	}

	.pdd-md-hor {
		padding: 0px 10px;
	}

	.pdd-lg-wrapper {
		margin-right: -15px;
		margin-left: -15px;
	}
	
	.pdd-lg {
		padding: 15px 15px;
	}
	

	.addFile { 
		.button	{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			background-color: $orange;
			color: $white;
			border-radius: 100px;
			width: 50px;
			height: 50px;
			font-size: 18px;
			margin-top: -30px;
		}
	
	}

	.galleryItem.show {
		padding: 40px 0px;
		height: 100%;
	}
}

@media (min-width: $layout-m){ 

	.container-sm {
		max-width: 30%;
	}

	.row-reverse-sm {
		display: flex;
		flex-direction: row-reverse;
	}

	.pdd-xs-wrapper {
		margin-right: -5px;
		margin-left: -5px;
	}
	.pdd-xs {
		padding: 5px 5px;
	}

	.pdd-sm-wrapper {
		margin-right: -10px;
		margin-left: -10px;
	}
	.pdd-sm {
		padding: 10px 10px;
	}

	.pdd-md-wrapper {
		margin-right: -15px;
		margin-left: -15px;
	}
	.pdd-md {
		padding: 15px 15px;
	}
	.pdd-md-hor {
		padding: 0px 15px;
	}

	.pdd-lg-wrapper {
		margin-right: -20px;
		margin-left: -20px;
	}
	
	.pdd-lg {
		padding: 20px 20px;
	}

	.create-albom {

		.img-wrapper {
			padding-right: 20px;
		}
		
	}
	
}


@media (min-width: $layout-m) {

	body {
		padding-top: 80px;
		// padding-bottom: 80px;
	}

	.footer {
		padding: 20px 0px;
	}

	.galleryItem.show {
		top: 60px;
	}

	

	.addFile { 
		.button	{
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $orange;
			color: $white;
			position: fixed;
			right: 40px;
			bottom: 40px;
			z-index: 100;
			border-radius: 100px;
			width: 60px;
			height: 60px;
			font-size: 18px;
			box-shadow: 0px 0px 7px $orange;
			cursor: pointer;
			transition: all ease 1s;
		}
		.button:hover {
			box-shadow: 0px 0px 30px $orange;
			color: $white;
		}
	}

	.nav {
		background-color: #222;
		height: 80px;
		color: #fff;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
	
		.menu a {
			color: $white;
			font-weight: 500;
		}
	
		.menu a:hover {
			color: $orange;
		}
	
		.menu a.grey {
			color: #b9b9b9;
		}
	
		.menu a.grey:hover {
			color: $orange;
		}
	}
	

}


@media (min-width: $layout-sm) {
	
	.hide-m {
		display: none;
	}

	
}