html {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", Roboto, "Helvetica Neue";
  font-weight: normal;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, p, a {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all ease 1s;
}





  
  /* Phone landscape and bigger */
  @media (min-width: 640px) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  /* Tablet landscape and bigger */
  @media (min-width: 960px) {
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .container > :last-child {
    margin-bottom: 0;
  }

  .container .container {
    padding-left: 0;
    padding-right: 0;
  }

.container-xsmall {
	max-width: 750px;
}
.container-small {
	max-width: 900px;
}
.container-large {
	max-width: 1400px;
}
.container-xlarge {
	max-width: 1600px;
}
.container-expand {
	max-width: none;
}

/*
 * Expand one side only
 */
 .container-expand-left {
  margin-left: 0;
}
.container-expand-right {
  margin-right: 0;
}
/* Phone landscape and bigger */
@media (min-width: 640px) {
  .container-expand-left.container-xsmall,
  .container-expand-right.container-xsmall {
    max-width: calc(50% + (750px / 2) - 30px);
  }
  .container-expand-left.container-small,
  .container-expand-right.container-small {
    max-width: calc(50% + (900px / 2) - 30px);
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .container-expand-left,
  .container-expand-right {
    max-width: calc(50% + (1200px / 2) - 40px);
  }
  .container-expand-left.container-xsmall,
  .container-expand-right.container-xsmall {
    max-width: calc(50% + (750px / 2) - 40px);
  }
  .container-expand-left.container-small,
  .container-expand-right.container-small {
    max-width: calc(50% + (900px / 2) - 40px);
  }
  .container-expand-left.container-large,
  .container-expand-right.container-large {
    max-width: calc(50% + (1400px / 2) - 40px);
  }
  .container-expand-left.container-xlarge,
  .container-expand-right.container-xlarge {
    max-width: calc(50% + (1600px / 2) - 40px);
  }
}
/* Item
 ========================================================================== */
/*
 * Utility classes to reset container padding on the left or right side
 * Note: It has to be negative margin on the item, because it's specific to the item.
 */
.container-item-padding-remove-left,
.container-item-padding-remove-right {
  width: calc(100% + 15px);
}
.container-item-padding-remove-left {
  margin-left: -15px;
}
.container-item-padding-remove-right {
  margin-right: -15px;
}
/* Phone landscape and bigger */
@media (min-width: 640px) {
  .container-item-padding-remove-left,
  .container-item-padding-remove-right {
    width: calc(100% + 30px);
  }
  .container-item-padding-remove-left {
    margin-left: -30px;
  }
  .container-item-padding-remove-right {
    margin-right: -30px;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .container-item-padding-remove-left,
  .container-item-padding-remove-right {
    width: calc(100% + 40px);
  }
  .container-item-padding-remove-left {
    margin-left: -40px;
  }
  .container-item-padding-remove-right {
    margin-right: -40px;
  }
}

.flex {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;

}

.row_center {
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
}

.row_sb {
	justify-content: space-between;
}

.row_top {
	align-items: start;
}
.row_gap {
gap: .5rem;
}

.row_end {
	justify-content: flex-end;
}

.row_col {
	flex-direction: column;
}

@media screen and (min-width:320px) {
.row-1\@xs>* {width: 100%;}
.row-1-2\@xs>* {width: 50%;}
.row-1-3\@xs>* {width: 33.33%;}
.row-1-4\@xs>* {width: 25%;}
.row-1-5\@xs>* {width: 20%;}
.row-1-6\@xs>* {width: 16.66%;}

.col-1\@xs {width: 100%;}
.col-0\@xs {display: none;}
.col-1-2\@xs,
.col-2-4\@xs,
.col-3-6\@xs,
.col-4-8\@xs,
.col-5-10\@xs,
.col-6-12\@xs {width: 50%;}
.col-1-3\@xs,
.col-2-6\@xs,
.col-3-9\@xs,
.col-4-12\@xs {width: 33.333%;}
.col-2-3\@xs,
.col-4-6\@xs,
.col-6-9\@xs,
.col-8-12\@xs {width: 66.667%;}
.col-1-4\@xs,
.col-2-8\@xs,
.col-3-12\@xs {width: 25%;}
.col-3-4\@xs,
.col-6-8\@xs,
.col-9-12\@xs {width: 75%;}
.col-1-5\@xs,
.col-2-10\@xs {width: 20%;}
.col-2-5\@xs,
.col-4-10\@xs {width: 40%;}
.col-3-5\@xs,
.col-6-10\@xs {width: 60%;}
.col-4-5\@xs,
.col-8-10\@xs {width: 80%;}
.col-1-6\@xs,
.col-2-12\@xs {width: 16.667%;}
.col-5-6\@xs,
.col-10-12\@xs {width: 83.333%;}
.col-1-7\@xs {width: 14.286%;}
.col-2-7\@xs {width: 28.571%;}
.col-3-7\@xs {width: 42.857%;}
.col-4-7\@xs {width: 57.143%;}
.col-5-7\@xs {width: 71.429%;}
.col-6-7\@xs {width: 85.714%;}
.col-1-8\@xs {width: 12.5%;}
.col-3-8\@xs {width: 37.5%;}
.col-5-8\@xs {width: 62.5%;}
.col-7-8\@xs {width: 87.5%;}
.col-1-9\@xs {width: 11.111%;}
.col-2-9\@xs {width: 22.222%;}
.col-4-9\@xs {width: 44.444%;}
.col-5-9\@xs {width: 55.556%;}
.col-7-9\@xs {width: 77.778%;}
.col-8-9\@xs {width: 88.889%;}
.col-1-10\@xs {width: 10%;}
.col-3-10\@xs {width: 30%;}
.col-7-10\@xs {width: 70%;}
.col-9-10\@xs {width: 90%;}
.col-1-11\@xs {width: 9.091%;}
.col-2-11\@xs {width: 18.182%;}
.col-3-11\@xs {width: 27.273%;}
.col-4-11\@xs {width: 36.364%;}
.col-5-11\@xs {width: 45.455%;}
.col-6-11\@xs {width: 54.545%;}
.col-7-11\@xs {width: 63.636%;}
.col-8-11\@xs {width: 72.727%;}
.col-9-11\@xs {width: 81.818%;}
.col-10-11\@xs {width: 90.909%;}
.col-1-12\@xs {width: 8.333%;}
.col-5-12\@xs {width: 41.667%;}
.col-7-12\@xs {width: 58.333%;}
.col-11-12\@xs {width: 91.667%;}


.pdd-sx-wrapper {
	margin-right: -2px;
	margin-left: -2px;
}
.pdd-sx {
	padding: 2px 2px;
}
.pdd-sm-wrapper {
	margin-right: -5px;
	margin-left: -5px;
}
.pdd-sm {
	padding: 5px 5px;
}

.pdd-md-wrapper {
	margin-right: -10px;
	margin-left: -10px;
}
.pdd-md {
	padding: 10px 10px;
}


}

@media screen and (min-width:640px) {

.row-1\@s>* {width: 100%;}
.row-1-2\@s>* {width: 50%;}
.row-1-3\@s>* {width: 33.33%;}
.row-1-4\@s>* {width: 25%;}
.row-1-5\@s>* {width: 20%;}
.row-1-6\@s>* {width: 16.66%;}

.col-1\@s {width: 100%;}
.col-0\@s {display: none;}
.col-1-2\@s,
.col-2-4\@s,
.col-3-6\@s,
.col-4-8\@s,
.col-5-10\@s,
.col-6-12\@s {width: 50%;}
.col-1-3\@s,
.col-2-6\@s,
.col-3-9\@s,
.col-4-12\@s {width: 33.333%;}
.col-2-3\@s,
.col-4-6\@s,
.col-6-9\@s,
.col-8-12\@s {width: 66.667%;}
.col-1-4\@s,
.col-2-8\@s,
.col-3-12\@s {width: 25%;}
.col-3-4\@s,
.col-6-8\@s,
.col-9-12\@s {width: 75%;}
.col-1-5\@s,
.col-2-10\@s {width: 20%;}
.col-2-5\@s,
.col-4-10\@s {width: 40%;}
.col-3-5\@s,
.col-6-10\@s {width: 60%;}
.col-4-5\@s,
.col-8-10\@s {width: 80%;}
.col-1-6\@s,
.col-2-12\@s {width: 16.667%;}
.col-5-6\@s,
.col-10-12\@s {width: 83.333%;}
.col-1-7\@s {width: 14.286%;}
.col-2-7\@s {width: 28.571%;}
.col-3-7\@s {width: 42.857%;}
.col-4-7\@s {width: 57.143%;}
.col-5-7\@s {width: 71.429%;}
.col-6-7\@s {width: 85.714%;}
.col-1-8\@s {width: 12.5%;}
.col-3-8\@s {width: 37.5%;}
.col-5-8\@s {width: 62.5%;}
.col-7-8\@s {width: 87.5%;}
.col-1-9\@s {width: 11.111%;}
.col-2-9\@s {width: 22.222%;}
.col-4-9\@s {width: 44.444%;}
.col-5-9\@s {width: 55.556%;}
.col-7-9\@s {width: 77.778%;}
.col-8-9\@s {width: 88.889%;}
.col-1-10\@s {width: 10%;}
.col-3-10\@s {width: 30%;}
.col-7-10\@s {width: 70%;}
.col-9-10\@s {width: 90%;}
.col-1-11\@s {width: 9.091%;}
.col-2-11\@s {width: 18.182%;}
.col-3-11\@s {width: 27.273%;}
.col-4-11\@s {width: 36.364%;}
.col-5-11\@s {width: 45.455%;}
.col-6-11\@s {width: 54.545%;}
.col-7-11\@s {width: 63.636%;}
.col-8-11\@s {width: 72.727%;}
.col-9-11\@s {width: 81.818%;}
.col-10-11\@s {width: 90.909%;}
.col-1-12\@s {width: 8.333%;}
.col-5-12\@s {width: 41.667%;}
.col-7-12\@s {width: 58.333%;}
.col-11-12\@s {width: 91.667%;}


}

@media screen and (min-width:960px) {

.row-1\@m > * {width: 100%;}
.row-1-2\@m > * {width: 50%;}
.row-1-3\@m > * {width: 33.33%;}
.row-1-4\@m > * {width: 25%;}
.row-1-5\@m > * {width: 20%;}
.row-1-6\@m > * {width: 16.66%;}
.row-1-7\@m > * {width: 14.28%;}

.col-1\@m {width: 100%;}
.col-0\@m {display: none;}
.col-1-2\@m,
.col-2-4\@m,
.col-3-6\@m,
.col-4-8\@m,
.col-5-10\@m,
.col-6-12\@m {width: 50%;}
.col-1-3\@m,
.col-2-6\@m,
.col-3-9\@m,
.col-4-12\@m {width: 33.333%;}
.col-2-3\@m,
.col-4-6\@m,
.col-6-9\@m,
.col-8-12\@m {width: 66.667%;}
.col-1-4\@m,
.col-2-8\@m,
.col-3-12\@m {width: 25%;}
.col-3-4\@m,
.col-6-8\@m,
.col-9-12\@m {width: 75%;}
.col-1-5\@m,
.col-2-10\@m {width: 20%;}
.col-2-5\@m,
.col-4-10\@m {width: 40%;}
.col-3-5\@m,
.col-6-10\@m {width: 60%;}
.col-4-5\@m,
.col-8-10\@m {width: 80%;}
.col-1-6\@m,
.col-2-12\@m {width: 16.667%;}
.col-5-6\@m,
.col-10-12\@m {width: 83.333%;}
.col-1-7\@m {width: 14.286%;}
.col-2-7\@m {width: 28.571%;}
.col-3-7\@m {width: 42.857%;}
.col-4-7\@m {width: 57.143%;}
.col-5-7\@m {width: 71.429%;}
.col-6-7\@m {width: 85.714%;}
.col-1-8\@m {width: 12.5%;}
.col-3-8\@m {width: 37.5%;}
.col-5-8\@m {width: 62.5%;}
.col-7-8\@m {width: 87.5%;}
.col-1-9\@m {width: 11.111%;}
.col-2-9\@m {width: 22.222%;}
.col-4-9\@m {width: 44.444%;}
.col-5-9\@m {width: 55.556%;}
.col-7-9\@m {width: 77.778%;}
.col-8-9\@m {width: 88.889%;}
.col-1-10\@m {width: 10%;}
.col-3-10\@m {width: 30%;}
.col-7-10\@m {width: 70%;}
.col-9-10\@m {width: 90%;}
.col-1-11\@m {width: 9.091%;}
.col-2-11\@m {width: 18.182%;}
.col-3-11\@m {width: 27.273%;}
.col-4-11\@m {width: 36.364%;}
.col-5-11\@m {width: 45.455%;}
.col-6-11\@m {width: 54.545%;}
.col-7-11\@m {width: 63.636%;}
.col-8-11\@m {width: 72.727%;}
.col-9-11\@m {width: 81.818%;}
.col-10-11\@m {width: 90.909%;}
.col-1-12\@m {width: 8.333%;}
.col-5-12\@m {width: 41.667%;}
.col-7-12\@m {width: 58.333%;}
.col-11-12\@m {width: 91.667%;}


.row-reverse-sm {
	display: flex;
	flex-direction: row-reverse;
}

.pdd-xs-wrapper {
	margin-right: -5px;
	margin-left: -5px;
}
.pdd-xs {
	padding: 5px 5px;
}

.pdd-sm-wrapper {
	margin-right: -10px;
	margin-left: -10px;
}
.pdd-sm {
	padding: 10px 10px;
}

.pdd-md-wrapper {
	margin-right: -15px;
	margin-left: -15px;
}
.pdd-md {
	padding: 15px 15px;
}

}

@media screen and (min-width:1200px) {

.row-1\@l>* {width: 100%;}
.row-1-2\@l>* {width: 50%;}
.row-1-3\@l>* {width: 33.33%;}
.row-1-4\@l>* {width: 25%;}
.row-1-5\@l>* {width: 20%;}
.row-1-6\@l>* {width: 16.66%;}
.row-1-7\@l>* {width: 14.28%;}

.col-1\@l {width: 100%;}
.col-0\@l {display: none;}
.col-1-2\@l,
.col-2-4\@l,
.col-3-6\@l,
.col-4-8\@l,
.col-5-10\@l,
.col-6-12\@l {width: 50%;}
.col-1-3\@l,
.col-2-6\@l,
.col-3-9\@l,
.col-4-12\@l {width: 33.333%;}
.col-2-3\@l,
.col-4-6\@l,
.col-6-9\@l,
.col-8-12\@l {width: 66.667%;}
.col-1-4\@l,
.col-2-8\@l,
.col-3-12\@l {width: 25%;}
.col-3-4\@l,
.col-6-8\@l,
.col-9-12\@l {width: 75%;}
.col-1-5\@l,
.col-2-10\@l {width: 20%;}
.col-2-5\@l,
.col-4-10\@l {width: 40%;}
.col-3-5\@l,
.col-6-10\@l {width: 60%;}
.col-4-5\@l,
.col-8-10\@l {width: 80%;}
.col-1-6\@l,
.col-2-12\@l {width: 16.667%;}
.col-5-6\@l,
.col-10-12\@l {width: 83.333%;}
.col-1-7\@l {width: 14.286%;}
.col-2-7\@l {width: 28.571%;}
.col-3-7\@l {width: 42.857%;}
.col-4-7\@l {width: 57.143%;}
.col-5-7\@l {width: 71.429%;}
.col-6-7\@l {width: 85.714%;}
.col-1-8\@l {width: 12.5%;}
.col-3-8\@l {width: 37.5%;}
.col-5-8\@l {width: 62.5%;}
.col-7-8\@l {width: 87.5%;}
.col-1-9\@l {width: 11.111%;}
.col-2-9\@l {width: 22.222%;}
.col-4-9\@l {width: 44.444%;}
.col-5-9\@l {width: 55.556%;}
.col-7-9\@l {width: 77.778%;}
.col-8-9\@l {width: 88.889%;}
.col-1-10\@l {width: 10%;}
.col-3-10\@l {width: 30%;}
.col-7-10\@l {width: 70%;}
.col-9-10\@l {width: 90%;}
.col-1-11\@l {width: 9.091%;}
.col-2-11\@l {width: 18.182%;}
.col-3-11\@l {width: 27.273%;}
.col-4-11\@l {width: 36.364%;}
.col-5-11\@l {width: 45.455%;}
.col-6-11\@l {width: 54.545%;}
.col-7-11\@l {width: 63.636%;}
.col-8-11\@l {width: 72.727%;}
.col-9-11\@l {width: 81.818%;}
.col-10-11\@l {width: 90.909%;}
.col-1-12\@l {width: 8.333%;}
.col-5-12\@l {width: 41.667%;}
.col-7-12\@l {width: 58.333%;}
.col-11-12\@l {width: 91.667%;}

}

@media(max-width:640px) {
.hidden-xs {
display:none !important;
}
}
@media(min-width:641px) and (max-width:960px) {
.hidden-sm {
display:none !important;
}
}
@media(min-width:961px) and (max-width:1199px) {
.hidden-md {
display:none !important;
}
}
@media(min-width:1200px) {
.hidden-lg {
display:none !important;
}
}
.m-05 {margin: 5px;}
.mt-05{margin-top: 5px;}
.mb-05{margin-bottom: 5px;}
.mr-05{margin-right: 5px;}
.ml-05{margin-left: 5px;}
.m-1 {margin: 10px;}
.mt-1{margin-top: 10px;}
.mb-1{margin-bottom: 10px;}
.mr-1{margin-right: 10px;}
.ml-1{margin-left: 10px;}
.m-2 {margin: 20px;}
.mt-2{margin-top: 20px;}
.mb-2{margin-bottom: 20px;}
.mr-2{margin-right: 20px;}
.ml-2{margin-left: 20px;}
.m-3 {margin: 30px;}
.mt-3{margin-top: 30px;}
.mb-3{margin-bottom: 30px;}
.mr-3{margin-right: 30px;}
.ml-3{margin-left: 30px;}
.mt-6{margin-top: 60px;}



h1, h2, h3, h4, h5 {
	color: #222;
}

.sm {
	font-size: 85%;
}

p {
	color: #555;
}

.white {
	color: #fff;
}

.orange {
	color: #e68721;
}

@media (min-width: 640px) {
    h5 {
      font-size: 16px;
    }
  }
  @media (min-width: 960px) {
    h5 {
		font-size: 16px;
    }
  }








.card-xs {
	position: relative;
	border-radius: 8px;
}



.card:hover {
	
}

